@model Web_Datamining.Models.HoSoXetTuyen

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HoSoXetTuyen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiemXetTuyen.DXT_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemXetTuyen.DXT_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TruongTHPT.TenTruong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TruongTHPT.TenTruong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMDN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMDN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DanToc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanToc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrangTrungTuyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrangTrungTuyen)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
