@model IEnumerable<Web_Datamining.Models.HoSoXetTuyen>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Hồ Sơ Xét Tuyển</h2>
@Html.Partial("~/Areas/Admin/Views/ImportExcel/_ImportHoSoXetTuyen.cshtml")
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DiemXetTuyen.DXT_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TruongTHPT.TenTruong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMDN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DanToc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhTrangTrungTuyen)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiemXetTuyen.DXT_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TruongTHPT.TenTruong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CMDN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DanToc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhTrangTrungTuyen)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaHoSo }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaHoSo }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaHoSo })
            </td>
        </tr>
    }

</table>
