@model Web_Datamining.Models.DiemCTHKy

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DiemCTHKy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiemHocKy.MSSV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemHocKy.MSSV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonHoc.TenMon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonHoc.TenMon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemTH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemTH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemQT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemQT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemThi1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemThi1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemThi2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemThi2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TiLeDiemTH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiLeDiemTH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TiLeDiemQT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiLeDiemQT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TiLeDiemThi1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiLeDiemThi1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TiLeDiemThi2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiLeDiemThi2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemTKHe10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemTKHe10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemTKHe4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemTKHe4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemTKChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemTKChu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
