@model IEnumerable<Web_Datamining.Models.LuatXetTuyen>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Luật Xét Tuyển</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.X)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Y)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Support)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Confidence)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.X)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Y)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Support)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Confidence)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
