@model Web_Datamining.Models.Huyen

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Huyen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tinh.TenTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tinh.TenTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.khuvuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.khuvuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenHuyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHuyen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
