@model Web_Datamining.Models.SinhVien

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SinhVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoSoXetTuyen.CMDN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoSoXetTuyen.CMDN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lop.MaChuyenNganh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lop.MaChuyenNganh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoVanHocTap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoVanHocTap)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MSSV }) |
    @Html.ActionLink("Back to List", "Index")
</p>
