@model Web_Datamining.Model.Models.KhaoSat

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>KhaoSat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CMND)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMND)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Khoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Khoi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemMon1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemMon1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemMon2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemMon2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemMon3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemMon3)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
