@model IEnumerable<Web_Datamining.Models.HeDaoTao>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Hệ Đào Tạo</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenHeDaoTao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenHeDaoTao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaHeDaoTao }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaHeDaoTao }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaHeDaoTao })
        </td>
    </tr>
}

</table>
