@model Web_Datamining.Models.ToHopMon

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ToHopMon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mon1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mon1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mon2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mon2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mon3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mon3)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaToHop }) |
    @Html.ActionLink("Back to List", "Index")
</p>
