@model Web_Datamining.Models.MonHoc

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MonHoc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenMon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenMon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TichLuy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TichLuy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemDat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemDat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaMon }) |
    @Html.ActionLink("Back to List", "Index")
</p>
