@model IEnumerable<Web_Datamining.Models.TruongTHPT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Trường THPT</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Huyen.khuvuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenTruong)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Huyen.khuvuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenTruong)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaTruongTHPT }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaTruongTHPT }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaTruongTHPT })
        </td>
    </tr>
}

</table>
